
@{
    ViewBag.Title = "ShoppingCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using DACN_SalePhone_Final.Models
@model DACN_SalePhone_Final.Models.ShoppingCartOrder
@{
    var shoppingCart = ViewBag.shoppingCart;
}


@*@using (Html.BeginForm("AddOrder", "Shopping", FormMethod.Post))
    {*@
<!-- page -->
<div class="services-breadcrumb">
    <div class="agile_inner_breadcrumb">
        <div class="container">
            <ul class="w3_short">
                <li>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                    <i>|</i>
                </li>
                <li>
                    Checkout
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- //page -->
<!-- checkout page -->
<div class="privacy py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
        <!-- tittle heading -->
        <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
            <span>C</span>heckout
        </h3>
        <!-- //tittle heading -->
        <div class="checkout-right">
            <h4 class="mb-sm-4 mb-3">
                Please check your shopping cart :
            </h4>
            <div class="table-responsive">
                <table class="timetable_sub">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Product</th>
                            <th>Quality</th>
                            <th>Product Name</th>

                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="rem1">
                            <td class="invert">@shoppingCart.scProdID</td>
                            <td class="invert-image">
                                <a href="@Url.Action("ProductListByCategories", "Products")">
                                    <img src="@shoppingCart.scProdIcon" alt=" " class="img-responsive">
                                </a>
                            </td>
                            <td class="invert">
                                <div class="quantity">
                                    <div class="quantity-select">
                                        <div class="entry value-minus" name="UpdateQuantity" id="btn-minus" data-itemid="@shoppingCart.scPrice" itemscope>&nbsp;</div>
                                        <div class="entry value">
                                            <span>@shoppingCart.scQty</span>
                                        </div>
                                        <div class="entry value-plus active" name="UpdateQuantity" id="btn-plus" data-itemid="@shoppingCart.scPrice" itemscope>&nbsp;</div>
                                    </div>
                                </div>
                            </td>
                            <td class="invert">@shoppingCart.scProdName</td>
                            <td class="invert" >
                                <div class="price-update" id="price-update">
                                    @shoppingCart.scTotal VND
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="checkout-left">
            <div class="address_form_agile mt-sm-5 mt-4">
                <h4 class="mb-sm-4 mb-3">Order Info</h4>
                <form action="@Url.Action("ShoppingCart", "Shopping")" method="post" class="creditly-card-form agileinfo_form order-info" id="order-info">
                    <div class="creditly-wrapper wthree, w3_agileits_wrapper">
                        <div class="information-wrapper">
                            <div class="first-row">
                                <div class="controls form-group">
                                    <input id="cusName" class="cusName" type="text" name="cusName" placeholder="Full Name" required="">
                                </div>
                                <div class="controls form-group">
                                    <input id="cusPhone" class="cusPhone" type="text" name="cusPhone" placeholder="Phone Number" required="">
                                </div>
                                <div class="controls form-group">
                                    <input id="cusEmail" class="cusEmail" type="text" name="cusEmail" placeholder="Email" required="">
                                </div>
                                <div class="controls form-group">
                                    <input id="cusAddress" class="cusAddress" type="text" name="cusAddress" placeholder="Address" required="">
                                </div>
                                <div class="controls form-group">
                                    <input id="prodID" class="prodID" type="text" name="scProdID" placeholder="prodID" value="@shoppingCart.scProdID" hidden>
                                </div>
                                <div class="controls form-group">
                                    <input id="prodQty" class="prodQty" type="text" name="scQty" placeholder="prodQty" value="@shoppingCart.scQty" hidden>
                                </div>
                                <div class="controls form-group">
                                    <input id="prodPrice" class="prodPrice" type="text" name="scPrice" placeholder="prodPrice" value="@shoppingCart.scPrice" hidden>
                                </div>

                                @*<div class="w3_agileits_card_number_grids">
            <div class="w3_agileits_card_number_grid_left form-group">
                <div class="controls">
                    <input type="text" class="form-control" placeholder="Mobile Number" name="number" required="">
                </div>
            </div>
            <div class="w3_agileits_card_number_grid_right form-group">
                <div class="controls">
                    <input type="text" class="form-control" placeholder="Address" name="address" required="">
                </div>
            </div>
        </div>*@
                            </div>
                            <button ac class="submit check_out btn" name="btnSubmit" id="btnSubmit">Add to Order</button>
                        </div>
                    </div>
                </form>
                @*<div class="checkout-right-basket">
                    <a href="payment.html">
                        Make a Payment
                        <span class="far fa-hand-point-right"></span>
                    </a>
                </div>*@
            </div>
        </div>
    </div>
</div>
<!-- //checkout page -->
@*}*@
